<!---navbar-->
<div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="assets/images/kamma.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about" >About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/services">Services</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/news">News</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/events" >Events</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link " routerLink="/contacts">Contact</a>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" style="background: #b03173; width:140px" class="get-started-btn">Sign in</a></li>
           
        </ul>
      </span>
    </div>
  </nav>
  </div>
  <!---navbar-->