<div class="row flex-news">
  News
</div>
<ul class="newsul">
  <li>
    <div class="posts__thumb">
      <img src="assets/images/post.jpg" alt="post" class="br-4">
    </div>
    <div class="posts__inner">
      <div class="post__label">
        <span class="post__label_voilet post__title_">team</span>
      </div>
      <div class="posts__title">
        The perfect breakfast for the team's high intensity training
      </div>
      <div class="posts__date">
        September 27th, 2018
      </div>
    </div>
  </li>
  <li>
    <div class="posts__thumb">
      <img src="assets/images/post.jpg" alt="post" class="br-4">
    </div>
    <div class="posts__inner">
      <div class="post__label">
        <span class="post__label_red post__title_">team</span>
      </div>
      <div class="posts__title">
        The perfect breakfast for the team's high intensity training
      </div>
      <div class="posts__date">
        September 27th, 2018
      </div>
    </div>
  </li>
 
</ul>
